<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="d-flex justify-content-center my-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab"
                        aria-controls="login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                        aria-controls="register" aria-selected="false">Register</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
            {{!-- Login --}}
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <h1 class="text-center my-3">Sign in course-store</h1>

                {{#if loginError}}
                <div class="alert alert-danger" role="alert">
                    {{loginError}}
                </div>
                {{/if}}
                <form action="/auth/login" method="POST" class="was-validated">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Write email"
                            required>
                        <div class="invalid-feedback">Write email</div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Write password" required>
                        <div class="invalid-feedback">Write password</div>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrf}}">

                    <button class="btn btn-outline-primary" type="submit">Login</button>
                </form>
            </div>
            {{!-- Register --}}
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                <h1 class="text-center my-3">Register in course-store</h1>
                <form action="/auth/register" method="POST" class="was-validated">
                    {{#if registerError}}
                    <div class="alert alert-danger" role="alert">
                        {{registerError}}
                    </div>
                    {{/if}}

                    <div class="form-group">
                        <label for="remail">Name</label>
                        <input type="text" class="form-control" name="text" id="name" placeholder="Write name" required>
                        <div class="invalid-feedback">Write name</div>
                    </div>

                    <div class="form-group">
                        <label for="remail">Email</label>
                        <input type="email" class="form-control" name="email" id="remail" placeholder="Write email"
                            required>
                        <div class="invalid-feedback">Write email</div>
                    </div>

                    <div class="form-group">
                        <label for="rpassword">Password</label>
                        <input type="password" class="form-control" name="password" id="rpassword"
                            placeholder="Write password" required>
                        <div class="invalid-feedback">Write password</div>
                    </div>

                    <div class="form-group">
                        <label for="confirm">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirm"
                            placeholder="Write password" required>
                        <div class="invalid-feedback">Write Confirm password</div>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrf}}">

                    <button class="btn btn-outline-primary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>