<nav class="navbar navbar-expand-lg navbar-dark nav-background sticky-top">
    {{#if isNews}}
    <a class="navbar-brand actived" href="/"> Course-store </a>
    {{else}}
    <a class="navbar-brand" href="/"> Course-store </a>
    {{/if}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="navbar-toggler-icon"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                {{#if isCourses}}
                <a class="nav-link actived" href="/courses">Courses</a>
                {{else}}
                <a class="nav-link" href="/courses">Courses</a>
                {{/if}}
            </li>

            {{#if isAuth}}
            <li class="nav-item">
                {{#if isOrders}}
                <a class="nav-link actived" href="/orders">Orders</a>
                {{else}}
                <a class="nav-link" href="/orders">Orders</a>
                {{/if}}
            </li>

            <li class="nav-item">
                {{#if isCard}}
                <a class="nav-link actived" href="/card">Cart</a>
                {{else}}
                <a class="nav-link" href="/card">Cart</a>
                {{/if}}
            </li>

            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                    Profile
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {{!-- navigate my courses --}}
                    <a class="dropdown-item disabled" href="#">View all</a>
                    {{!-- navigate create course --}}
                    {{#if isAdd}}
                    <a class="dropdown-item actived" href="/add">Add</a>
                    {{else}}
                    <a class="dropdown-item" href="/add">Add</a>
                    {{/if}}

                    <div class="dropdown-divider"></div>
                    {{!-- navigate settings page --}}
                    <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                {{#if isLogin}}
                <a class="nav-link actived" href="/auth/login">Auth</a>
                {{else}}
                <a class="nav-link" href="/auth/login">Auth</a>
                {{/if}}
            </li>
            {{/if}}

        </ul>
    </div>
</nav>