<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/add" method="POST" class="was-validated">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Write name for your course"
                    required>
                <div class="invalid-feedback">Write name</div>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="price" id="price"
                    placeholder="Write price for your course" required min="1">
                <div class="invalid-feedback">Write price</div>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" name="image" id="image" placeholder="Write url for your course"
                    required>
                <div class="invalid-feedback">Write url image</div>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-outline-primary">Add</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>