<div class="row my-5">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="basket">
        {{#if courses.length}}
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Count</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        <th scope="row">{{title}}</th>
                        <td id="price">{{price}}</td>
                        <td>{{count}}</td>
                        <td class="text-center">
                            <button class="btn btn-danger btn-sm js-remove" data-csrf="{{@root.csrf}}"
                                data-id="{{_id}}">Remove</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="d-flex justify-content-between py-2 px-3">
                <span class="d-flex align-items-center">Total sum: <strong id="price"
                        class="totalPrice">{{price}}</strong></span>


                <form action="/orders" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <button class="btn waves-effect
                        waves-black aqua-gradient">Order</button>
                </form>
            </div>
        </div>
        {{else}}
        <h2> You cart empty </h2>
        <a class="btn purple-gradient" href="/courses">Make an order?</a>
        {{/if}}
    </div>
    <div class="col-md-2"></div>
</div>