{{#if course}}
<div class="row">
    <main class="my-5">
        <div class="container">
            <div class="card card-image waves-effect waves-light" style="background-image:
                url(https://picsum.photos/1110/460);">
                <div class="text-white text-center rgba-stylish-strong py-5
                    px-4">
                    <div class="py-5">

                        <!-- Content -->
                        <h2 class="card-title h2 my-4 py-2">{{course.title}}</h2>
                        <p class="mb-4 pb-2 px-md-5 mx-md-5" id="description">
                            {{!-- {{description}} --}}
                        </p>

                        <div>
                            <a class="btn">Created by
                                <span id="name">
                                    {{!-- {{author}} --}}
                                </span>
                            </a>

                            <a class="btn">Last updated
                                <span id="date">
                                    {{!-- {{author}} --}}
                                </span>
                            </a>

                            <a class="btn">Rating
                                <span id="randomNum">
                                    {{!-- {{rating}} --}}
                                </span>
                            </a>
                            <!-- Twitter -->
                            <a class="px-2 fa-lg tw-ic"><i class="fab
                                    fa-twitter"> </i></a>
                            <!-- Linkedin -->
                            <a class="px-2 fa-lg li-ic"><i class="fab
                                    fa-linkedin-in"> </i></a>
                            <!-- Facebook -->
                            <a class="px-2 fa-lg fb-ic"><i class="fab
                                    fa-facebook-f"> </i></a>
                            <!-- Email -->
                            <a class="px-2 fa-lg email-ic"><i class="fas
                                    fa-envelope"> </i></a>

                            <div class="btn-group dropup">

                                <a class="px-2 fa-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-share-alt"></i>
                                </a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Share</a>
                                    <a class="dropdown-item" href="#">Copy Link</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/courses/{{course._id}}/edit?allow=true">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Section: What you'll learn-->
            <section class="wow fadeIn">
                <h2 class="my-5 h3 text-center">What you'll learn</h2>
                <div class="row features-small mb-5 mt-3">

                    <!--First column-->
                    <div class="col-md-4">
                        <!--First row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x
                                    indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Free for personal
                                    and
                                    commercial use</h6>
                                <p class="grey-text" id="description"> </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/First row-->

                        <!--Second row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x
                                    indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">400+ UI elements</h6>
                                <p class="grey-text" id="description"></p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Second row-->

                        <!--Third row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x
                                    indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">600+ icons</h6>
                                <p class="grey-text" id="description"></p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Third row-->

                        <!--Fourth row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x
                                    indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Fully responsive</h6>
                                <p class="grey-text" id="description"></p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Fourth row-->
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-4 my-5">
                        <img src="{{course.image}}" alt="{{course.title}}" class="z-depth-0 img-fluid">
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 mt-2">
                        <!--First row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x
                                    indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">70+ CSS animations</h6>
                                <p class="grey-text" id="description"> </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/First row-->

                        <!--Second row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x
                                    indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Plenty of useful
                                    templates</h6>
                                <p class="grey-text" id="description"></p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Second row-->

                        <!--Third row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x
                                    indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Easy installation</h6>
                                <p class="grey-text" id="description"> </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Third row-->

                        <!--Fourth row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x
                                    indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Easy to use and
                                    customize</h6>
                                <p class="grey-text" id="description"></p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Fourth row-->
                    </div>
                    <!--/Third column-->

                </div>
                <!--/First row-->
            </section>
            <!--Section: What you'll learn-->

            <hr>

            <div class="text-center">
                <h4 class="card-title"><strong>My adventure</strong></h4>

                <form action="/card/add" method="POST">
                    <input type="hidden" name="id" value="{{course._id}}">
                    <input type="hidden" name="_csrf" value="{{csrf}}">

                    <button type="submit" class="btn waves-effect
                        waves-black aqua-gradient">Buy now for
                        <span class="font-weight-bold py-2" id="price">
                            {{course.price}}
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>

{{else}}
<p>Not found course</p>
{{/if}}