{{#if courses.length}}

<div class="row">
    {{#each courses}}
    <div class="col-lg-4 col-md-12 my-2">
        <div class="row">
            <div class="col-md-12 my-3">
                <!-- Card -->
                <div class="card wow fadeIn">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top"
                            src="{{image}}"
                            alt="{{title}}"
                            style="">
                        <a href="/courses/{{_id}}" target="_blank"> <div
                                class="mask
                                rgba-white-slight"></div></a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">
                        <a class="activator waves-effect waves-light mr-4"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            style="float: right;">
                            <i class="fas fa-share-alt"></i>
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Share</a>
                            <a class="dropdown-item" href="#">Copy Link</a>
                            <a class="dropdown-item" href="#">Add to card</a>
                        </div>

                        <a href="/courses/{{_id}}" class="black-text"
                            target="_blank">
                            <h4 class="card-title">{{title}}</h4>
                            <hr>
                            <p class="card-text" id="description">
                                {{!-- {{description}} --}}
                            </p>
                        </a>

                        <span class="d-flex justify-content-end" id="price"
                            style="margin-top: 8px;">
                            {{price}}
                        </span>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a href="#" id="name">
                            {{!-- {{name}} --}}
                        </a>

                    </div>
                    <!-- Card footer -->
                    <div class="rounded-bottom mdb-color lighten-3 text-center
                        pt-3">
                        <ul class="list-unstyled list-inline font-small">
                            <li class="list-inline-item pr-2 white-text">
                                <i class="far fa-clock pr-1"></i>
                                <span id="date">
                                    {{!-- {{CreatedDate}} --}}
                                </span>
                            </li>
                            <li class="list-inline-item pr-2">
                                <a href="#" class="white-text">
                                    <i class="far fa-comments pr-1"></i>
                                    <span id="randomNum">
                                        {{!-- {{comments}} --}}
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
    {{/each }}

</div>
{{else}}
<p>Not found course</p>
{{/if}}