<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/courses/edit" method="POST" class="was-validated">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Write name for your course"
                    required value="{{course.title}}">
                <div class="invalid-feedback">Write name</div>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="price" id="price"
                    placeholder="Write price for your course" required min="1" value="{{course.price}}">
                <div class="invalid-feedback">Write price</div>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" name="image" id="image" placeholder="Write url for your course"
                    required value="{{course.image}}">
                <div class="invalid-feedback">Write url image</div>
            </div>

            <input type="hidden" name="id" value="{{course._id}}">

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-outline-primary" type="submit" style="float: right;">Save</button>
        </form>

        <form action="/courses/remove" method="POST" style="float: left;">
            <input type="hidden" name="id" value="{{course._id}}">

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-outline-danger">Remove</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>