 <h2 class="h1 text-center my-5 font-weight-bold">News</h2>
{{#if courses.length}}
<div class="row">
    {{#each courses}}
    <div class="col-lg-6 col-md-12 my-2">
        <div class="row">
            <div class="col-md-3">
                <!--Image-->
                <div class="view overlay rounded">
                    <img src="{{image}}"
                        class="img-fluid" alt="{{title}}">
                    <a href="/courses/{{_id}}" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>

            <!--Content-->
            <div class="col-md-9">
                <div class="d-flex justify-content-between text-muted">
                    <a class="dark-grey-text" href="/courses/{{_id}}"
                        target="_blank">
                        <strong>{{title}}</strong>
                    </a>
                    <a href="#" id="name"> {{!-- {{name}} --}} </a>
                </div>
                {{!-- description --}}
                <a class="black-text" href="/courses/{{_id}}" target="_blank">
                    <span id="description"></span>
                    <i class="fas fa-angle-right float-right"></i>
                </a>
            </div>
        </div>
        <hr>
    </div>
    {{/each}}
</div>
{{else}}
<p>Not found news</p>
{{/if}}