{{#if orders.length}}
<div class="row">
    <div class="card my-5" style="width: 100%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Date</th>
                    <th scope="col">Email</th>
                    <th style="col">Courses</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td scope="row">{{_id}}</td>
                    <td scope="row" id="orderDate">{{date}}</td>
                    <td scope="row">{{user.userId.email}}</td>
                    <td scope="row">
                        {{#each courses}}
                        <li class="list-group list-group-flush">
                            {{course.title}} (x{{count}})
                        </li>

                        {{/each}}
                    </td>
                    <td scope="row" id="price">{{price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{else}}
<p>You have no orders</p>
<a class="btn purple-gradient" href="/courses">Make an order?</a>
{{/if}}