:root {
    --main: rgba(52, 152, 219, 1);
    --active: rgba(255, 255, 255, 0.75);
}

html,
body {
    height: auto;
}

body {
    margin: 0;
}

.nav-background {
    background: var(--main) !important;
}

.actived {
    border-bottom: 0.5px solid orange;
}
